
.detail-form{
  p{
    font-size: 15px;
    font-weight: bolder;
  }
}
.box-success-message{
  width: 100%;
  background-color: rgb(33, 172, 33);
  border-radius: 4px;
  padding: 10px 15px;
  margin-top: 20px;
  span{
    color:white;
    font-size: 15px;
  }
}